:root {
  --padding-above-lg: 5rem;
  --padding-above-sm: 0.5rem;
  --total-padding-sm: 1rem;
}

html {
  overflow: hidden;
}

.App {
  overflow: auto;
  background-color: rgb(223, 222, 222);
  height: 100vh;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  height: var(--global--ContainerHeight--100);
}

.nav-header {
  color: white;
}

.nav-link-text {
  color: white;
  padding-top: var(--global--ItemPadding--sm);
}

.header-text,
.header-link,
.page-title {
  color: white;
}

.header-text,
.header-link {
  padding-top: var(--padding-above-sm);
}

.page-container {
  margin: 0;
}

.form-container {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.form-input {
  margin: 0.5rem;
}

.button-container {
  padding-bottom: 5rem;
}

.pokemon-card {
  margin-bottom: 2rem;
}

.pokemon-list {
  margin-right: auto;
  margin-left: auto;
  width: 25rem;
}

 